[submodule "nvTorchCam"]
	path = nvTorchCam
	url = https://github.com/NVlabs/nvTorchCam.git
[submodule "externals/nvdiffrast"]
	path = externals/nvdiffrast
	url = https://github.com/NVlabs/nvdiffrast.git
